 .header{
    display: flex;
    justify-content: space-between;
 }
 .logo{
    width: 10rem;
    height: 3rem;
 }

 .header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
 } 

 .header-menu>li:hover{
    cursor: pointer;
    color:var(--orange);
 } 


 @media screen and (min-width:768) and (max-width:1023) {
   
 }

 @media screen and (min-width:481px) and (max-width:767px) {
   .header-menu{
      background-color: #3c3f45;
      position: fixed;
      z-index: 10;
      flex-direction: column;
      right: 2rem;
      gap:1rem;
      padding:1rem 1.5rem;
   }
 }